@model healthicly.Models.Outing

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Outing</h4>
    <hr />

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DayAndTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DayAndTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd id="location">
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Group)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Group)
        </dd>
    </dl>
</div>

<div>

    @{
        string embeddedmapsURL;
        string modelName;
        modelName = Model.Location.Replace(" ", String.Empty);

        embeddedmapsURL = @"https://www.google.com/maps/embed/v1/place?key=" + healthicly.ApiKeys.ApiKey.mapsKey + "&q=" + modelName;
    }

    <iframe width="600"
            height="450"
            frameborder="0" style="border:0"
            src=@embeddedmapsURL allowfullscreen>
    </iframe>


    <hr style="width:75%; text-align:right" />


    <br /><br />
</div>



<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

