@model IEnumerable<healthicly.Models.Meal>

@{
    ViewData["Title"] = "Menu";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<Meal> menu = (List<Meal>)ViewData["Menu"];
}

<h2>Randomly Generated Menu</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BriefDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vegan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContainsDairy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GlutenFree)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContainsSoy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContainsPeanuts)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsApproved)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in menu) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BriefDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vegan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContainsDairy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GlutenFree)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContainsSoy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContainsPeanuts)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsApproved)
            </td>
            @*<td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>*@
        </tr>
}
    </tbody>
</table>
