@model IEnumerable<healthicly.Models.CleaningTask>

@{
    ViewData["Title"] = "PersonalizedTasks";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<CleaningTask> cleaningTasks = (List<CleaningTask>)ViewData["CleaningTask"];
    
}

<h2>PersonalizedTasks</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BriefDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TaskComplete)
            </th>
        </tr>
    </thead>
    <tbody>
        
@foreach (var item in cleaningTasks) {

        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BriefDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaskComplete)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
